.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

/* Create four equal columns that sits next to each other */

.grid-item .item {
  margin-top: 8px;
  height: 20rem;
  vertical-align: middle;
  width: 100%;
}
